<br />
<br />
<% if Member.where(:organization_id => @organization.id, user_id: current_user.id).empty? %>
  <%= button_to "Join Organization", members_path(:organization_id => @organization.id), :method => :post %>
<% end %>

<% if Member.find_by(:user_id => current_user.id, :organization_id => @organization.id) %>
  <%= button_to "Leave Organization", members_path(:organization_id => @organization.id), :method => :delete %>
<% end %>
<h3><%= @organization.name %></h3>

<p><%= @organization.description %></p>
<p>Created by:
  <% if @organization.user == current_user %>
     YOU
  <% else %>
  <%= @organization.user.first_name %> <%= @organization.user.last_name %>
</p>
<% end %>
<p>
  <strong>Members:</strong>
  <% @members.each do |member| %>
    <p><%= member.first_name %> <%= member.last_name %></p>
  <% end %>
</p>
