<!DOCTYPE html>
<html>
  <head>
    <title>OrganizationsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% flash.each do |key, value| %>
    <p style="color: red;"><%= value %></p>
  <% end %>

  <% if current_user %>
  <%= link_to "Home", '/organizations' %>
  <%= link_to "Logout", '/logout' %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
